*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}

body{
  background:#0B1120;
  color:white;
}

a{
  text-decoration:none;
  color:inherit;
}

input,
select{
  background:#111827;
  color:white;
  border:none;
  outline:none;
  padding:12px;
  border-radius:12px;
  width:100%;
}

button{
  background:linear-gradient(
    135deg,
    #7C3AED,
    #8B5CF6
  );
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:12px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-3px);
}

.card{
  background:rgba(
    255,
    255,
    255,
    0.05
  );
  backdrop-filter:blur(10px);
  border:1px solid rgba(
    255,
    255,
    255,
    0.1
  );
  border-radius:20px;
}
.back-btn{
  background:#1e293b;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:12px;
  margin-bottom:20px;
  cursor:pointer;
  transition:.3s;
}

.back-btn:hover{
  background:#7c3aed;
  transform:translateY(-2px);
}